<div class="row" *ngIf="lineChartData">
  <div class="col-md-8">
    <div style="display: block; ">
      <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
    </div>
  </div>
  <div class="col-md-4">
    <div class="jumbotron">
      <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    </div>
  </div>
</div>

<div class="row" *ngIf="lineChartData_sub_mel">
  <div class="col-md-8">
    <div style="display: block; ">
      <canvas baseChart [datasets]="lineChartData_sub_mel" [labels]="lineChartLabels_period" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
    </div>
  </div>
  <div class="col-md-4">
    <div class="jumbotron">
      <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="jumbotron">
    <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6" *ngIf="baseChartData_mel">
    <div style="display: block">
      <canvas baseChart [datasets]="baseChartData_mel" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
    </div>
  </div>
  <div class="col-md-6" *ngIf="baseChartData_syd">
    <div style="display: block">
      <canvas baseChart [datasets]="baseChartData_syd" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
    </div>
  </div>
</div>
<div class="row">
  <div class="jumbotron">
    <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8" *ngIf="baseChartData_mel_syd">
    <div *ngIf="baseChartData_mel_syd.length >= 2">
      <div style="display: block">
        <canvas baseChart [datasets]="baseChartData_mel_syd" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="jumbotron">
      <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    </div>
  </div>
</div>
