<!-- Main component for a primary marketing message or call to action -->

  <img  class="col-md-8" src="../assets/dasn.JPG">
  <div class="col-md-4">
  	<div class="jumbotron">
  		<h2>Team 6</h2>
  		 <table class="table">
      <tbody>
        <tr>
          <td>Feifan Zhang</td>
          <td>807480</td>
        </tr>
        <tr>
          <td>Jianying Zhang</td>
          <td>799672</td>
        </tr>
        <tr>
          <td>Keren He</td>
          <td>865255</td>
        </tr>
        <tr>
          <td>Jinhang Li</td>
          <td>867117</td>
        </tr>
        <tr>
          <td>Yi Ding</td>
          <td>839679</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>

